#home-center {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 100vh;
}

#home-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    align-items: center;
    width: fit-content;
    height: 100%;
}

#cuisine-container {
    display: flex;
    height: fit-content;
    max-width: 100%;
    justify-content: center;
}


#cuisine-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 86px;
}

#cuisine-types>.icon {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cuisine-text>span {
    font-size: 12px;
    margin: 0;
}

#promo-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.promo-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.promo-header>h2 {
    margin: 0;
}

.promo-featured-container {
    border: 1px solid red;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;

}


.top-restaurant-container {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    max-width: 410px;
    min-width: 400px;
    max-height: 260px;
    margin-right: 10px;
}

.top-restaurant-container>a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-restaurant-pic {
    display: flex;
    border: 1px dashed blue;
    min-width: 100%;
    max-height: 172px;
    height: 100%;
}

.top-restaurant-pic > img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.top-restaurant-name-rating {
    display: flex;
    flex-direction: column;
    height: auto;
}
