.review-stars {
    display: flex;
    height: 50px;
    width: 50px;
}

.text-area-div > textarea {
    min-height: 150px;
    min-width: 350px;
}

.review-stars > div.fa-star {
font-size: 32px;
}

.submit-review-btn > button{
    background-color: #ff3008;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    font-family: roboto,arial,helvetica neue,sans-serif;
    border-radius: 5px;
    border: none;
}

.loginButtons>button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
